
<div class="book" ng-show="book">
  <ol ng-if="$state.is('bookInfo')" class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="" ui-sref="index">На главную</a></li>
    <li><a href="" onclick="history.back()">Назад</a></li>
    <li class="active">Методичка ID: {{book.id}}</li>
  </ol>
  <ul class="ul-head">
    <li>ID: {{book.id}}</li>
    <li>Название: {{book.header.name}}</li>
    <!-- <li>Направление: {{book.direction}}</li> -->
    <li>Авторы:
      <p ng-repeat="author in book.authors"> {{author.first_name}} {{author.last_name}} </p>
    </li>
    <li>Дата: {{formatDate(book.date)}}</li>
  </ul>
  <div class="book-content">
    <div class="chapter" ng-repeat="chapter in book.chapters">
      <h1>{{chapter.name}}</h1>
      <div ng-repeat="section in chapter.sections">
        <h3>{{section.title}}</h3>
        <div>
          <table>
            <tr>
              <td ng-if="section.type=='text'" colspan="2">
                <p>{{section.data}}</p>
              </td>

              <td ng-if="section.type=='picture'">
                <img class="image-box" ng-src="{{section.data}}" width="40%" `>
              </td>
            </tr>
          </table>
          <!--          <td ng-if="section.type=='video'" >
                      <iframe class="pull-right" width="200" height="160" src="{{trustSrc(section.data)}}" frameborder="0" allowfullscreen></iframe>
                    </td>-->
        </div>
      </div>
    </div>
    <div class="chapter" >
      <h3>Литература: </h3>
      <div ng-repeat="link in book.literatures track by $index">
        <div ng-if="link.indexOf('http')!=-1" >
          <a style="display: block;" href="{{link.data || link}}" >{{link.data || link}}</a>
        </div>
        <div ng-if="link.indexOf('http')==-1">
          <p>{{link.data || link}}</p>
        </div>
      </div>
    </div>
    <div class="chapter">
      <h3>Список Тегов</h3>
      <p style="display: block;"ng-repeat="tag in book.tags track by $index">{{tag.tag || tag}}</p>
    </div>
  </div>
  <button class="green" ng-click="$state.go('cabinet.makeArticle.edit', {id: book.id})" ng-if="$state.includes('cabinet')">Редактировать методичку</button>
</div>


<div class="no-books" ng-show="!book">
  <p>Не выбрана ни одна методичка</p>
</div>
