<div class="cabinet" article-hide>
	<div class="aside">

    <div class="tabs-cabinet">
      <p ng-class="{'active': activeTab('my')}" ng-click="toggleTab('my')">Мои методички</p>
      <p ng-class="{'active': activeTab('favorites')}" ng-click="toggleTab('favorites')">Избранные</p>
    </div>


		<ul>


			<li ng-repeat="book in books" ng-click="$state.go('cabinet.bookInfo', {id: book.id})">
        <span class="delete-favorite" ng-click="deleteFavorite(book.id, $event)" ng-if="activeTab('favorites')">Удалить</span>
        <p>ID: <span class="bold">{{book.id}}</span></p>
				<p>Название: <span class="bold">{{book.caption}}</span></p>
				<p>Дата: <span class="bold">{{formatDate(book.date)}}</span></p>
			</li>

		</ul>
		<button class="green" ng-click="makeNewArticle()">Создать методичку</button>
		<!-- <button class="green" ng-click="$state.go('cabinet.makeArticle')">Редактировать методичку</button> -->
	</div>

	<div class="content" ng-class="{'article-container': $state.includes('cabinet.makeArticle')}" cabinet-article>
		<div class="ui-view"></div>
		<div class="no-select" ng-if="$state.is('cabinet')">
			<img src="assets/images/empty_book.png" alt="">
			<p>Вы не выбрали ни одной методички</p>


		</div>
	</div>

</div>
