<div class="cabinet">
	<div class="aside">
		<p class="title">Мои методички</p>
		<ul>


			<li ng-repeat="book in books" ng-click="$state.go('cabinet.bookInfo', {id: book.id})">
				<p>Название: <span class="bold">{{book.caption}}</span></p>
				<p>Дата: <span class="bold">{{formatDate(book.date)}}</span></p>
			</li>

		</ul>
		<button class="green" ng-click="$state.go('makeArticle')">Создать методичку</button>
		<button class="green" ng-click="$state.go('editArticle')">Редактировать методичку</button>
	</div>

	<div class="ui-view content">
		<div class="no-select" ng-if="$state.is('cabinet')">
			<img src="assets/images/empty_book.png" alt="">
			<p>Вы не выбрали ни одной методички</p>

		</div>
	</div>

</div>
