<div class="make-article container-fluid">
	<div id="toolbar" class="row col-md-2">
		<!-- <ul>
			<li id="add-chapter" ng-click="addChapter()">+</li>
			<li ng-click="textShow=!textShow;mediaShow=false">
				<p>Текст</p>
				<ul ng-class="{'active': textShow}">
					<li ng-click="book.text='text';addText()">Текст</li>
					<li ng-click="book.text='code';addCode()">Код</li>
				</ul>
			</li>
			<li ng-click="mediaShow=!mediaShow;textShow=false;">
				<p>Мультимедиа</p>
				<ul ng-class="{'active': mediaShow}">
					<li ng-click="book.media='picture';picturePick=true;link=''">Картинка</li>
					<li ng-click="book.media='video';videoPick=true;link=''">Видео</li>
					<li ng-click="book.media='audio';addAudio()">аудио</li>

				</ul>
			</li>
			<li ng-click="deteleArticle()">Очистить все</li>
			<li>+</li>
			<li>+</li>
		</ul> -->
		 <!-- tabs left -->
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li ng-click="addChapter()"><a href="#a" data-toggle="tab" ><span class="glyphicon glyphicon-plus"></span></a></li>
          <li ng-click="textShow=!textShow;mediaShow=false"><a href="#b" data-toggle="tab"><p>Текст</p></a></li>
          <li ng-click="mediaShow=!mediaShow;textShow=false;"><a href="#c" data-toggle="tab"><p>Мультимедиа</p></a></li>
		  <li class="active" ng-click="deteleArticle()"><a href="#d" data-toggle="tab"><p>Очистить все</p></a></li>
        </ul>
        <div class="tab-content">
			<div class="tab-pane active" id="a"></div>
			<div class="tab-pane" id="b" >
					<ul class="nav nav-tabs" ng-class="{'active': textShow}">
					<li ng-click="book.text='text';addText()"><a href="#" data-toggle="tab" ><p>Текст</p></a></li>
					<li ng-click="book.text='code';addCode()"><a href="#" data-toggle="tab" ><p>Код</p></a></li>
				</ul>
			</div>
			<div class="tab-pane" id="c">
				<ul class="nav nav-tabs" ng-class="{'active': mediaShow}">
					<li ng-click="book.media='picture';picturePick=true;link=''"><a href="#" data-toggle="tab" ><p>Картинка</p></a></li>
					<li ng-click="book.media='video';videoPick=true;link=''"><a href="#" data-toggle="tab" ><p>Видео</p></a></li>
					<li ng-click="book.media='audio';addAudio()"><a href="#" data-toggle="tab" ><p>Aудио</p></a></li>
				</ul>
			</div>
        </div>
      </div>
      <!-- /tabs -->

	</div>
	
	<!-- <div class="row col-md-8"> -->
  <div class="box header">
  	<div class="edit" ng-click="editHeader = !editHeader" ng-class="{'active': editHeader}"></div>
	<h2>Заголовок </h2>
    <table>
		<tr>
			<td>Название</td>
			<td>
				<input ng-show="editHeader" type="text" ng-model='book.header.name'>
				<p ng-show="!editHeader">{{book.header.name}}</p>
			</td>
		</tr>
		<tr>
			<td>Дата</td>
			<td>{{formatDate(book.header.date)}}</td>
		</tr>
		<tr>
			<td>Автор</td>
			<td><p type="text" ng-bind='book.header.author'></p></td>
		</tr>

	</table>
  </div>
  
  <div class="box table-of-contents">
	<h2>Содержание</h2>
    <table>
		<tr>
			<td>Заголовок</td>
			<td>1</td>
		</tr>
		<tr ng-repeat="chapter in book.chapters track by $index">
			<td>{{chapter.name}}</td>
			<td>{{$index+2}}</td>
		</tr>
		
	</table>
  </div>
  <div class="box chapter" ng-repeat="chapter in book.chapters track by $index" ng-init="edit=true"ng-click="chooseChapter($index); edit=true" ng-class="{'active':$index==activeChapter}">
  	<div class="edit" change-edit ng-class="{'active': edit}"></div>
  	<div class="close" ng-click="deleteChapter($index)" ng-if="book.chapters.length>1"></div>
  	<div class="controls" ng-show="book.chapters.length>1">
  		<span class="glyphicon glyphicon-arrow-down" ng-show="!$last" ng-click="moveDown($index)"></span>
  		<span class="glyphicon glyphicon-arrow-up" ng-show="!$first" ng-click="moveUp($index)"></span>
  	</div>
	<h2 ng-show="!edit">{{chapter.name}}</h2>
	<input ng-show="edit" type="text" class="chapter-title" ng-model="chapter.name">
    <table class="w100">
		<tr ng-repeat=" (key, pr) in chapter" >
			<td ng-if="pr.type=='text'" colspan="2">
				<input ng-show="edit" class="w100"  style="margin-bottom: 20px;" placeholder="Введите зоголовок (можно оставить пустым)" type="text" ng-model="pr.title">
				<p ng-if="!edit" class="center">{{pr.title}}</p>

				<textarea  class="w100" ng-show="edit" type="text" placeholder="Введите текст" ng-model="pr.data"></textarea>
				<p ng-show="!edit" class="center">{{pr.data}}</p>
			</td>



			<td ng-if="pr.type=='picture'">
				<input ng-show="edit" type="text" ng-model="pr.title">
				<p ng-show="!edit" >{{pr.title}}</p>
			</td>
			<td ng-if="pr.type=='picture'" >
				<img class="image-box pull-right" ng-src="{{pr.data}}">
			</td>


			<td ng-if="pr.type=='video'">
				<input ng-show="edit" type="text" ng-model="pr.title">
				<p ng-show="!edit" >{{pr.title}}</p>
			</td>
			<td ng-if="pr.type=='video'" >
				<iframe class="pull-right" width="200" height="160" src="{{trustSrc(pr.data)}}" frameborder="0" allowfullscreen></iframe>
			</td>
				
			<td class="close td-close" ng-click="deleteItem($parent.$parent.$index, key)" ng-if="!$last"></td>
		</tr>
		
	</table>
  </div>
	<div class="box table-of-contents">
		<h2>Список литературы</h2>
	    <input class="w100" ng-model='lit' add-literature placeholder="Введите ссылку">
	    <a style="display: block;" href="{{link}}" ng-repeat="link in book.literatures track by $index">{{link}}</a>
		
	</div>

	<div class="box table-of-contents">
		<h2>Список Тегов</h2>
	    <input class="w100" ng-model='tag2' add-tags placeholder="Введите тег">
	    <p style="display: block;"ng-repeat="tag in book.tags track by $index">{{tag}}</p>
		
	</div>
	
	<div class="link-picker" ng-show="picturePick">
		<div class="close" ng-click="picturePick=false;"></div>
		<p>Введите ссылку фотографии</p>
		<input type="text" ng-model="link">
		<button class="green" ng-click="addPicture(link);picturePick=false">Добавить</button>
	</div>
	<div class="link-picker" ng-show="videoPick">
		<div class="close" ng-click="videoPick=false;"></div>
		<p>Введите ссылку Видео</p>
		<input type="text" ng-model="link">
		<button class="green" ng-click="addVideo(link);videoPick=false">Добавить</button>
	</div>
	<button class="green" ng-click="createManual()">Создать</button>
</div>

<script>
	$(window).scroll(function(){
		var sc = $("body").scrollTop()
		sc = Math.max(0, 45-sc)
		$("#toolbar").css({"margin-top": sc+"px"});
	})
</script>
