<form ng-submit="submitProfile()" class="profile">
	<table>
		<tr>
			<td><label for="">Фамилия</label></td>
			<td><input type="text" ng-model="user.last_name"></td>
		</tr>
		<tr>
			<td><label for="">Имя</label></td>
			<td><input type="text" ng-model="user.first_name"></td>
		</tr>
		<tr>
			<td><label for="">Отчество</label></td>
			<td><input type="text" ng-model="user.middle_name"></td>
		</tr>
		<tr>
			<td><label for="">Место работы</label></td>
			<td><input type="text" ng-model="user.interest"></td>
		</tr>
		<tr>
			<td><label for="">Должность</label></td>
			<td><input type="text" ng-model="user.position"></td>
		</tr>
	</table>
	<button type="submit" class="green" >Сохранить</button>
	
	
	
	
	
	
	
	
	
	
</form>