/**
*  Do not remove this comments bellow. It's the markers used by wiredep to inject
*  less dependencies when defined in the bower.json of your dependencies
*/
// bower:less
// endbower

/**
*  If you want to override some bootstrap variable$s, you have to change values here.
*  The list of variables are listed here bower_components/bootstrap/less/variables.less
*/



* {
	font-size: Arial Helvetica;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4 {
	margin: 0;
}
a {
	text-decoration: none;
	outline: none !important;
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
	&:focus {
		text-decoration: none;
	}
}
.center {
	text-align: center;
}
button {
	min-width: 160px;
	height: 38px;
	border-radius: 5px;
	border: none;
	font-weight: 100;
	font-size: 16px;
	letter-spacing: .5px;
	outline: none !important;
	padding: 0 20px;
	&.green {
		background: #78cf1a;
		box-shadow: 0 2px 0 0 #539A0B;
		color: #fff;
		&:hover {
			background: #5EA214;
			box-shadow: 0 2px 0 0 #3C6B0C;
		}
	}
}
input {
	height: 38px;
	border: 1px solid #acacac;
	padding: 10px;
	border-radius: 5px;
	outline: none !important;
	font-size: 16px;
}
label {
	font-weight: 400;
}
ul {
	list-style: none;
}
.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	min-width: 768px;
}
header.main-header {
	background: #E3F2FA;
	height: 92px;
	border-bottom: 1px solid #8c8c8c;
	padding: 0 40px;
	.logo {
		float: left;
		padding-top: 25px;
		a {
			font-size: 24px;
			font-family: cursive;
			font-style: italic;
			border-bottom: 1px solid #D6B578;
			color: #AD3E23;
			&:hover {
				color: #884130;
			}
		}
	}
	ul {
		padding-top: 30px;
		float: right;
		li {
			margin-right: 30px;
			display: inline-block;
			
			a {
				color: #313131;
				font-size: 18px;
				font-weight: 400;
				&:hover {
					color: #77b;
				}
			}
		}
	}
}
.home {
	.content {
		// min-height: calc(~"100vh - 92px - 84px");	
		background: #DAFFDA;
		position: relative;
		.wrapper {
			background: #fff;
			height: 100%;
			min-height: calc(~"100vh - 92px - 84px");
		}
		.about {
			padding: 40px;
			h3 {
				margin-top: 20px;
			}
		}
		.news {
			padding: 80px 40px 50px 40px;
			ul {
				text-align: center;
				li {
					width: 300px;
					display: inline-block;
					img {
						width: 120px;
						height: 120px;
					}
					p.title {
						margin-top: 10px;
						font-size: 18px;
					}
				}
			}
		}
	}
	footer.main-footer {
		padding: 20px;
		height: 84px;
		background: #EAE1CC;
	}
}







.modal-dialog {
	margin-top: 100px;
}
.modal-content {
	border: none;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
}
.modal-wrapper {
	.cancel {
		position: absolute;
		font-size: 40px;
		opacity: 0.8;
		right: 20px;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}
	width: 600px;
	.modal-head {
		padding: 20px 30px;
		h2 {
			font-size: 18px;
			margin-bottom: 5px;
		}
		h3 {
			font-size: 14px;
		}
		
	}
	.modal-body {
		background: #efefef;
		padding: 10px 30px;
		box-shadow: 0 -2px 2px 0 rgba(0,0,0,.5);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding-bottom: 40px;
		input{
			float:right;
			width: 328px;
		}
		.wrap {
			width: 100%;
			margin-top: 20px;
			position: relative;
			height: 40px;
			label {
				float: left;
			}
		}
		button {
			float: right;
		}

	}
}
.bold {
	font-weight: bold;
}
.cabinet {
	.aside {
		float: left;
		// border-right: 1px solid #cacaca;
		box-shadow: 2px -1px 2px 0 rgba(100,100,100,.5);
		width: 300px;
		p.title {
			padding-top: 10px;
			text-align: center;
			font-weight: bold;
			font-size: 17px;
		}
		min-height: calc(~"100vh - 110px");
		ul {
			li {
				padding: 5px 20px;
				border-bottom: 1px solid #acacac;
				&:first-child {
					border-top: 1px solid #acacac;
				}
				&:hover {
					background: #ccc;
					cursor: pointer;
				}
			}
		}
	}
	.content {
		width: calc(~"100vw - 320px");
		margin-left: 320px;
		min-width: 650px;
		padding-top: 40px;
		.no-select {
			text-align: center;
			padding-top: calc(~"(100vh - 250px) / 2");
			img {
				width: 67px;
				height: 99px;
			}
			p {
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}


/**
*  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
*  all your less files automatically
*/
// injector
// endinjector
