<div class="modal-wrapper">
	<p class="cancel" ng-click="cancel()">&times;</p>
	<div class="modal-head">
		<h2>Вход</h2>
		<h3>Для работы с методичками необходимо выполнить вход.</h3>
	</div>
	<div class="modal-body">
		<form ng-submit="login()">
			<div class="wrap"><label for="email">Электронный адрес: </label><input type="text" id="email" ng-model="user.login"></div>
			<div class="wrap"><label for="password">Пароль: </label><input type="text" id="password" ng-model="user.password"></div>
			<div class="wrap"><button class="green" type='submit'>Войти</button></div>
		</form>
	</div>
	
</div>